body {
    padding-top: 50px;
    padding-bottom: 20px;
    zoom: 80%;

}


.a link{
    font-family: verdana;
}


.li {
    font-family: verdana;
}
/* Set padding to keep content from hitting the edges */
.body-content {
}
            
  
/**side navigation bar*/


/**side navigation bar*/